.App {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin: 20px 20px 77px 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
}

li div {
  width: 70%;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(116, 113, 113, 0.933);
  border-radius: 10px;
}

li.ownmessage {
  justify-content: flex-end;
  text-align: right;
}

form {
  position: fixed;
  width: 400px;
  bottom: 0;
  left: 0;
  padding: 20px 20px 0 20px;
  background-color: beige;

}

.new-message {
  display: flex;
  flex-direction: column;
}

.new-message button {
  position: absolute;
  bottom : 5px;
  right: 30px;
}